<html>
<head>
<title>Visitor Log</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- kNOWLEDGE OF JQUERY LIBRARY IS A PREREQUISITE FOR WORKING WITH
ANGULAR JS AND IT CAN BE EMBEDDED IN THE PAGE USING THE SCRIPT SOURCE TAG -->

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- the bootstrap team is what will define the look and feel 
of the application, we include the css and js file in the application -->


<!--  Angular  -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
<!-- angular is the library that is used for reactive programming, it is 
a programming method around data flows and the propagation of change.
it is added by using the script source tag.
 -->
    
<script>
var myApp = angular.module("myApp", ['ngSanitize']);
/*
one of the most important concepts in angular is the scope. this variable
contains most of the controller functions, and the variables that are
displayed to the user and it is considered to be the Model of an
AngularJS application. now I know that an AngularJS app consists 
of Model, View and Controller, where View will be our HTML file,
Model is the data available for the View and Controller is the 
Javascript functions that modify the data.
*/

var scope;


myApp.controller("myCtrl", function($scope) {
	// Make the scope available outside the controller, which is very useful for
	// debugging
  	scope = $scope;
  	
    $scope.visitors = {a: "b"};
    /*
    l49 is going to be the same as visitors on the server side, for now we just put
    a dummy value of b in it 
    */  
  	$scope.loginUser = "";
  	/*
    the loginUser variable is the model for a text field, into which the user will 
    type the name of a visitor. because of this, the text field and the variable will 
    always have the same value. if one changes, angularjs changes the other. 
    */
  	$scope.refreshVisitors = () => {
  		$.ajax({
  			url: "/test/visitors",
  			async: true,
  			dataType: "json",
  			success: (obj) => {
  				$scope.visitors = obj;
  				$scope.$apply();
			/*
			success is a callback function- a function which is passed to another function
			as an argument and then used there to complete a particular task. Because the 
			data type is JSON, it receives a parsed JavaScript object as the parameter. it 
			sets the scope variable to the new value, and then calls $scope.$apply. Whenever
			a variable in a reactive programming framework such as AngularJS changes,
			it is necessary to figure out what other items based on that variable need to change.
			Normaly, AngularJS can do this for us, but in case of changes coming asynchronously
			from a call back function it can't. Therefore we need to call $scope.$apply to
			apply all the changes manually. 
			*/
  			}
  		});
  	};
      /*
      this function reads visitors from the server side and updates it in the client side
      the variable $ is a data structure that contains the jquery functions
      ajax can read data that does not occur at regular intervals and can therfore run 
      anytime a user click on log on. we call ir here to read the visitors data structure.
      because app.js does not contain a content type, we specify all the data type here.
      */

  	$scope.refreshVisitors();
  	// Refresh visitors every minute (in case somebody else changes it)
      
    setInterval($scope.refreshVisitors, 60*1000);
    

	// Date.now() doesn't function correctly inside {{}}, so
	// use this
	$scope.now = () => Date.now().valueOf();
	/*
	This function makes a lot more sense when it is called, as it returns the current
	time in milliseconds since the begining of the epoch. The reason that this function
	is required later where it is used
	*/

	// Log a user out (ask the server to do it, then refresh the visitors data structure)
	$scope.logout = name => {
		$.ajax({
			url: `logout?user=${encodeURI(name)}`,
  			async: true,
  			success: () => $scope.refreshVisitors()
  		});		
	};


	// Log a user in (ask the server to do it, then refresh the visitors data structure)
	$scope.login = name => {
		$.ajax({
			url: `login?user=${encodeURI(name)}`,
  			async: true,
  			success: () => $scope.refreshVisitors()
  		});		
	};


	// Functions from app.js
	
	/* 
	Code to manipulate visitors data structure 
	Codes were initially developed in app.js are also being used in the front-end
	this is one advantage since you can use the same code in both the server and 
	client side.
	*/  
	$scope.visitorNames = () => {
		return Object.keys($scope.visitors);	
	};	

	$scope.currentVisitorNames = () => {
		return $scope.visitorNames().filter((name) => $scope.visitors[name].arrived !== undefined);
	};


	$scope.nonCurrentVisitorNames = () => {
		return $scope.visitorNames().filter((name) => $scope.visitors[name].arrived === undefined);
	};


	// Given a time difference in miliseconds, return a string with the approximate value
	$scope.tdiffToString = (msec) => {
		var sec = msec/1000;
		
		if (sec < 60)
			return Math.floor(sec) + " second" + (sec < 2 ? "" : "s"); 
		
		if (sec < 3600)
			return Math.floor(sec/60) + " minute" + (sec < 60*2 ? "" : "s");
		
		if (sec < 3600*24)
			return Math.floor(sec/3600) + " hour" + (sec < 3600*2 ? "" : "s");
	
		return Math.floor(sec/(3600*24)) +  " day" + (sec < 3600*24*2 ? "" : "s");
	};


	// Given a history entry (arrived and left times), create a table row with that information
	$scope.histEntryToRow = (entry) => {
	return `<tr>
			<td>${new Date(entry.arrived)}</td>
			<td>${new Date(entry.left)}</td>
			<td>${$scope.tdiffToString(entry.left-entry.arrived)}</td>
			</tr>`;
		
		// The Date need to be new, otherwise we are just modifying the same object and all dates in
		// the history table are the same.
	};
	/*
	the func above is a little different from the app.js version where it is enough to 
	use Date(value) to get the string representation of the time and date.
	because it reuses the date object, and the way AngularJS orhanizez the evaluation,
	if we use the same function here, all the displayed dates would be the same.
	to prevent this we create a new Date object everytime. We also organize the returned
	dates into HTML rows and columns.
	*/

	// Given a history, create a table with it
	$scope.histToTable = (history) => {
		if (history === undefined)
			return "";
		
		if (history.length === 0)
			return "";
			
		return `<details>
			<table class="table table-condensed table-border">
				<tr>
					<th>
						Arrived
					</th>
					<th>
						Left
					</th>
					<th>
						Time here
					</th>
				</tr>
				${history.map($scope.histEntryToRow).reduce((a, b) => a+b)}
			</table>
		</details>`;
	};



});



</script>	
	
</head>
<body ng-app="myApp" ng-controller="myCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading">
        	<h3 class="panel-title">Current visitors</h3>
        </div>
        <div class="panel-body">
        	<table class="table">
        		<tr>
        			<th>Name</th>
        			<th></th>
        			<th>Time here</th>
        			<th>History</th>
        		<tr ng-repeat="name in currentVisitorNames()">
        			<td>
    					{{name}}
    				</td>
    				<td>
    					<button class="btn btn-danger" ng-click="logout(name)">
    						Logout
    					</button>
    				</td>
    				<td>
	    				The last {{tdiffToString(now()-visitors[name].arrived)}}    					
    				</td>
    				<td>    					
    					<details ng-if="visitors[name].history && visitors[name].history.length > 0" ng-bind-html="histToTable(visitors[name].history)">
    					</details>    				
    				</td>
    			</tr>
        	</table>
        </div>
    </div>   <!-- current visitors -->


	<div class="panel panel-primary">
		<div class="panel-heading">
        	<h3 class="panel-title">Visitors not here</h3>
        </div>
        <div class="panel-body">
        	<table class="table">
        		<tr>
        			<th>Name</th>
        			<th></th>
        			<th>History</th>
        		<tr ng-repeat="name in nonCurrentVisitorNames()">
        			<td>
    					{{name}}
    				</td>
    				<td>
    					<button class="btn btn-success" ng-click="login(name)">
    						Login
    					</button>
    				</td>

    				<td>
    					<details ng-if="visitors[name].history && visitors[name].history.length > 0" ng-bind-html="histToTable(visitors[name].history)">
    					</details>
    				</td>
    			</tr>
        	</table>

        </div>
    </div>  <!-- visitors not here -->
    
    <div class="panel panel-success">
    	<div class="panel-heading">
    		<h3 class="panel-title">Log In a Visitor</h3>
    	</div>
    	<div class="panel-body">
			<input type="text" ng-model="loginUser">
			<br />
			<button class="btn btn-success" ng-click="login(loginUser)">
				Log on {{loginUser}}
			</button>
    	</div>
    </div>

</body>
</html>